<html>
<head>
    <link href="homepage.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <h1 class="loginMessage">Welcome to borf</h1>
    <h1 class="smalljoke">powered by rettiwt</h1>
    <ul class="topBar">
        <li>
            <a title="logout" href="logout.html">Logout</a>
        </li>
        <li>
            <a title="viewProfile" href="viewProfile.html">View my profile page</a>
        </li>
    </ul>
</nav>

<form action="/create-message" method="post">
    <input type="text" placeholder="Tell the world your borf" name="blogPost" width="1000"/>
    <button type="submit">Submit</button>
</form>

<ol>
    {{#posts}}
    <li>{{post}} - made by {{userName}} on {{createdDate}}<form action="/deletePost" method="post"><select name="postdelete"><option selected disabled>Interact with this</option><option value="delete">Delete this post</option><option value="reply">Reply to post</option></select><button type="submit">Submit</button></form></li>
    {{/posts}}
</ol>
</body>
</html>