<html>
<head>
    <link href="opening.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <h1 class="loginMessage">Welcome to borf</h1>
    <h1 class="smalljoke">powered by rettiwt</h1>
    <ul class="topBar">
        <li>
            <a title="login" href="login.html">Login</a>
        </li>
        <li>
            <a title="createUser" href="createUser.html">Create an Account</a>
        </li>
    </ul>
</nav>
<p>

</p>
<p>
YOU ENTERED WRONG INFORMATION TRY AGAIN
</p>
<form action="/wrongPass" method="post">
    <input type="text" placeholder="Enter you username" name="loginName"/>
    <input type="text" placeholder="Enter your password" name="password"/>
    <button type="submit">Login</button>
</form>

</body>
</html>